<form (ngSubmit)="save()" #studentForm="ngForm">
    <mat-form-field class="example-full-width">
        <input matInput required placeholder="Student Number" [(ngModel)]="student.studentNumber" name="studentNumber" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput required placeholder="First Name" [(ngModel)]="student.firstName" name="firstName" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput required placeholder="Last Name" [(ngModel)]="student.lastName" name="lastName" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput required type="email"  [formControl]="email" [pattern]="emailRegex" placeholder="Email" [(ngModel)]="student.email" name="email" />
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!studentForm.form.valid">Save</button>
</form>
